<header>
    <mat-toolbar>
        <h1>
            <a routerLink="/" class="logo">G K</a>
        </h1>
        <nav>
            @if (isSmallScreen()) {
            <button mat-icon-button aria-label="Toggle menu">
                <mat-icon (click)="drawer().toggle()" fontIcon="menu" color="var(--sys-primary)"></mat-icon>
            </button>
            } @else {
                <ul>
                    @for (navLink of navLinks(); track $index) {
                        @if (navLink.display) {
                            <li>
                                <a routerLink="." [fragment]="navLink.fragment" (click)="drawer().toggle()">
                                    {{ navLink.label }}
                                </a>
                            </li>
                        }
                    }
                    <!-- <li><a routerLink="." fragment="about-me">.aboutMe()</a></li>
                    <li><a href="">.experience()</a></li>
                    <li><a href="">.projects()</a></li>
                    <li><a href="">.education()</a></li>
                    <li><a href="#">.services()</a></li>
                    <li><a href="#">.blogs()</a></li>
                    <li><a href="">.contact()</a></li>
                    <li><a href="#">.certificates()</a></li>
                    <li><a href="#">.resume()</a></li> -->
                    <li class="theme-switcher" (click)="toggleTheme()">
                        <mat-icon matTooltip="Switch To {{ isDarkMode() ? 'Light' : 'Dark' }} Theme" matTooltipPosition="below"
                            [fontIcon]="currentIcon"></mat-icon>
                    </li>
                </ul>
                <div appFixedPosition [position]="positions.BOTTOM_LEFT">
                    <!-- email with subject -->
                    <a class="email-link" [href]="'mailto:' + email + '?subject=' + emailParams.subject + '&body=' + emailParams.body"
                        target="_blank">{{ email }}</a>
                </div>
                <div appFixedPosition [position]="positions.BOTTOM_RIGHT">
                    <ul class="social-links">
                        @for (socialLink of socialLinks; track $index) {
                            <li [matTooltip]="socialLink.tooltip" matTooltipPosition="left">
                                <a [href]="socialLink.url" target="_blank">
                                    @if (socialLink.iconType === 'fontIcon') {
                                        <mat-icon [fontIcon]="socialLink.icon"></mat-icon>
                                    } @else {
                                        <mat-icon [svgIcon]="socialLink.icon"></mat-icon>
                                    }
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            }
        </nav>
    </mat-toolbar>
</header>