<div class="about-me">
  <h2 class="title">About Me</h2>
  <div class="about-me-body">
    <div class="content">
      <p>
        My coding adventure kicked off back in 2015 with NFS & Vice City, turns
        out, racing virtual cars was my unexpected gateway into the tech
        universe! In school, I started playing with C and Java, creating
        NetBeans desktop apps that probably confused more people than they
        helped.
        <!-- I've been on a wild ride through the world of computer science. -->
      </p>
      <p>
        In college, I dove deep into the digital rabbit hole, unraveling the
        mysteries of programming, databases, and web technologies, learning not
        just how to code, but how to transform complex challenges into elegant
        solutions.
      </p>
      <p>
        Fast forward to today, at DortexAi, I'm crafting APIs, designing
        databases, and deploying workflows that are sleeker than my old gaming
        setup and more reliable than my first attempts at "Hello World" 😄.
      </p>
      <p>
        My superpower? Creating tech solutions that don't just work, they work
        so smoothly that even my non-tech friends might actually understand what
        I do (well, maybe)!
      </p>
      <p>
        When I'm not coding, you can find me exploring the latest tech trends,
        watching sci-fi shows, or playing video games. I'm always up for a chat
        about the latest tech, so feel free to reach out!
      </p>
      <p>Here are a few technologies I’ve been working with recently:</p>
      <ul>
        <li>Express</li>
        <li>JavaScript (ES6+)</li>
        <li>Node.js</li>
        <li>Angular v17+</li>
        <li>TyperORM</li>
        <li>PostgreSQL</li>
        <li>AWS (EC2, S3, RDS)</li>
        <li>Git</li>
        <li>GitHub Actions</li>
      </ul>
    </div>
    <div class="image">
      <img [src]="profilePicture" alt="My Cute Pic🥺" />
    </div>
  </div>
</div>
