
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$Portfolio-theme: mat.define-theme((
  color: (
    // theme-type: light,
    // primary: mat.$azure-palette,
    // tertiary: mat.$blue-palette,
    use-system-variables: true,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($Portfolio-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($Portfolio-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($Portfolio-theme);
/* You can add global styles to this file, and also import other style files */

html {
  --sys-primary: rgb(150, 217, 69);
  --sys-surface-tint: rgb(151 217 69);
  --sys-on-primary: rgb(31 55 0);
  --sys-primary-container: rgb(79 130 0);
  --sys-on-primary-container: rgb(255 255 255);
  --sys-secondary: rgb(177 209 136);
  --sys-on-secondary: rgb(31 55 0);
  --sys-secondary-container: rgb(44 70 12);
  --sys-on-secondary-container: rgb(189 222 148);
  --sys-tertiary: rgb(93 220 176);
  --sys-on-tertiary: rgb(0 56 40);
  --sys-tertiary-container: rgb(0 133 100);
  --sys-on-tertiary-container: rgb(255 255 255);
  --sys-error: rgb(255 180 171);
  --sys-on-error: rgb(105 0 5);
  --sys-error-container: rgb(147 0 10);
  --sys-on-error-container: rgb(255 218 214);
  --sys-background: rgb(17 21 11);
  --sys-on-background: rgb(224 228 212);
  --sys-surface: rgb(17 21 11);
  --sys-on-surface: rgb(224 228 212);
  --sys-surface-variant: rgb(66 73 55);
  --sys-on-surface-variant: rgb(194 202 178);
  --sys-outline: rgb(140 148 126);
  --sys-outline-variant: rgb(66 73 55);
  --sys-shadow: rgb(0 0 0);
  --sys-scrim: rgb(0 0 0);
  --sys-inverse-surface: rgb(224 228 212);
  --sys-inverse-on-surface: rgb(46 50 39);
  --sys-inverse-primary: rgb(63 105 0);
  --sys-primary-fixed: rgb(178 246 95);
  --sys-on-primary-fixed: rgb(16 32 0);
  --sys-primary-fixed-dim: rgb(151 217 69);
  --sys-on-primary-fixed-variant: rgb(47 79 0);
  --sys-secondary-fixed: rgb(204 238 161);
  --sys-on-secondary-fixed: rgb(16 32 0);
  --sys-secondary-fixed-dim: rgb(177 209 136);
  --sys-on-secondary-fixed-variant: rgb(52 78 20);
  --sys-tertiary-fixed: rgb(124 249 203);
  --sys-on-tertiary-fixed: rgb(0 33 22);
  --sys-tertiary-fixed-dim: rgb(93 220 176);
  --sys-on-tertiary-fixed-variant: rgb(0 81 60);
  --sys-surface-dim: rgb(17 21 11);
  --sys-surface-bright: rgb(54 59 47);
  --sys-surface-container-lowest: rgb(11 15 7);
  --sys-surface-container-low: rgb(25 29 19);
  --sys-surface-container: rgb(29 33 23);
  --sys-surface-container-high: rgb(39 43 33);
  --sys-surface-container-highest: rgb(50 54 43);

  --sys-border-radius: 0.25rem;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  height: 100%;
  scrollbar-color: 
    var(--sys-on-background)
    var(--sys-background);
}
*:focus {
  outline-offset: 4px;
}
body {
  // used for setting header background color
  --mat-toolbar-container-background-color: var(--sys-background);

  // used for setting dialog background color
  --mdc-dialog-container-color: var(--sys-background);
  --mdc-dialog-subhead-color: var(--sys-primary);
  --mdc-dialog-supporting-text-color: var(--sys-on-background);
  
  // used for setting sidenav background color 
  --mat-sidenav-container-background-color: var(--sys-background);
  --mat-sidenav-content-background-color: var(--sys-background);
  --mat-sidenav-container-text-color: var(--sys-on-background);
  --mat-sidenav-content-text-color: var(--sys-on-background);

  // used for setting icon button color
  --mdc-icon-button-icon-color: var(--sys-primary);

  margin: 0;
  line-height: 1.5;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--sys-background);
  color: var(--sys-on-background);
}
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.fade-in {
  animation: appear 0.5s ease-in-out;
}
.slide-in {
  animation: slideIn 0.5s ease-in-out;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}