:root {
    --sys-on-error: hsl(355, 75%, 45%);
}
.dark-forest {
    --sys-background: hsl(220, 13%, 18%);
    --sys-primary: hsl(218, 13%, 88%);
    --terminal-color: hsl(27, 100%, 42%);
    --caret-color: hsl(39, 100%, 71%);
}
.dark-day {
    --sys-background: hsl(20, 10%, 12%);
    --sys-primary: hsl(35, 40%, 54%);
    --terminal-color: hsl(150, 31%, 46%);
    --caret-color: hsl(150, 36%, 54%);
}
.dark-ocean {
    --sys-background: hsl(194, 100%, 4%);
    --sys-primary: hsl(218, 13%, 88%);
    --terminal-color: hsl(143, 100%, 33%);
    --caret-color: hsl(79, 80%, 51%);
}
.dark-space {
    --sys-background: hsl(252, 7%, 12%);
    --sys-primary: hsl(218, 13%, 88%);
    --terminal-color: hsl(199, 100%, 59%);
    --caret-color: hsl(185, 100%, 64%);
}
.dark-night {
    --sys-background: hsl(240, 14%, 9%);
    --sys-primary: hsl(218, 13%, 88%);
    --terminal-color: hsl(45, 100%, 50%);
    --caret-color: hsl(234, 100%, 72%);
}
.dark-cave {
    --sys-background: hsl(0, 0%, 0%);
    --sys-primary: hsl(218, 13%, 88%);
    --terminal-color: hsl(82, 100%, 37%);
    --caret-color: hsl(146, 60%, 56%);
}
.dark-sea{
    --sys-background: hsl(0, 0%, 10%);
    --sys-primary: hsl(0, 0%, 90%);
    --terminal-color: hsl(120, 100%, 60%);
    --caret-color: hsl(210, 100%, 60%);
}

/* Light themes */
.light-vanilla{
    --sys-background: hsl(190, 18%, 87%);
    --sys-primary: hsl(198, 13%, 15%);
    --terminal-color: hsl(357, 77%, 56%);
    --caret-color: hsl(357, 100%, 71%);
}
.light-haze {
    --sys-background: hsl(59, 99%, 94%);
    --sys-primary: hsl(0, 0%, 10%);
    --terminal-color: hsl(0, 0%, 70%);
    --caret-color: hsl(120, 100%, 60%);
}
.light-day {
    --sys-background: hsl(30, 60%, 95%);
    --sys-primary: hsl(198, 13%, 15%);
    --terminal-color: hsl(357, 77%, 56%);
    --caret-color: hsl(357, 100%, 71%);
}
.light-sky {
    --sys-background: hsl(200, 50%, 90%);
    --sys-primary: hsl(0, 0%, 10%);
    --terminal-color: hsl(200, 50%, 50%);
    --caret-color: hsl(240, 100%, 70%);
}
.dark {
    --sys-primary: rgb(151 217 69);
    --sys-surface-tint: rgb(151 217 69);
    --sys-on-primary: rgb(31 55 0);
    --sys-primary-container: rgb(79 130 0);
    --sys-on-primary-container: rgb(255 255 255);
    --sys-secondary: rgb(177 209 136);
    --sys-on-secondary: rgb(31 55 0);
    --sys-secondary-container: rgb(44 70 12);
    --sys-on-secondary-container: rgb(189 222 148);
    --sys-tertiary: rgb(93 220 176);
    --sys-on-tertiary: rgb(0 56 40);
    --sys-tertiary-container: rgb(0 133 100);
    --sys-on-tertiary-container: rgb(255 255 255);
    --sys-error: rgb(255 180 171);
    --sys-on-error: rgb(105 0 5);
    --sys-error-container: rgb(147 0 10);
    --sys-on-error-container: rgb(255 218 214);
    --sys-background: rgb(17 21 11);
    --sys-on-background: rgb(224 228 212);
    --sys-surface: rgb(17 21 11);
    --sys-on-surface: rgb(224 228 212);
    --sys-surface-variant: rgb(66 73 55);
    --sys-on-surface-variant: rgb(194 202 178);
    --sys-outline: rgb(140 148 126);
    --sys-outline-variant: rgb(66 73 55);
    --sys-shadow: rgb(0 0 0);
    --sys-scrim: rgb(0 0 0);
    --sys-inverse-surface: rgb(224 228 212);
    --sys-inverse-on-surface: rgb(46 50 39);
    --sys-inverse-primary: rgb(63 105 0);
    --sys-primary-fixed: rgb(178 246 95);
    --sys-on-primary-fixed: rgb(16 32 0);
    --sys-primary-fixed-dim: rgb(151 217 69);
    --sys-on-primary-fixed-variant: rgb(47 79 0);
    --sys-secondary-fixed: rgb(204 238 161);
    --sys-on-secondary-fixed: rgb(16 32 0);
    --sys-secondary-fixed-dim: rgb(177 209 136);
    --sys-on-secondary-fixed-variant: rgb(52 78 20);
    --sys-tertiary-fixed: rgb(124 249 203);
    --sys-on-tertiary-fixed: rgb(0 33 22);
    --sys-tertiary-fixed-dim: rgb(93 220 176);
    --sys-on-tertiary-fixed-variant: rgb(0 81 60);
    --sys-surface-dim: rgb(17 21 11);
    --sys-surface-bright: rgb(54 59 47);
    --sys-surface-container-lowest: rgb(11 15 7);
    --sys-surface-container-low: rgb(25 29 19);
    --sys-surface-container: rgb(29 33 23);
    --sys-surface-container-high: rgb(39 43 33);
    --sys-surface-container-highest: rgb(50 54 43);
}
.light {
    --sys-primary: rgb(63 105 0);
    --sys-surface-tint: rgb(63 105 0);
    --sys-on-primary: rgb(255 255 255);
    --sys-primary-container: rgb(111 174 25);
    --sys-on-primary-container: rgb(7 18 0);
    --sys-secondary: rgb(75 102 42);
    --sys-on-secondary: rgb(255 255 255);
    --sys-secondary-container: rgb(208 242 165);
    --sys-on-secondary-container: rgb(56 82 23);
    --sys-tertiary: rgb(0 108 80);
    --sys-on-tertiary: rgb(255 255 255);
    --sys-tertiary-container: rgb(36 176 135);
    --sys-on-tertiary-container: rgb(0 17 10);
    --sys-error: rgb(186 26 26);
    --sys-on-error: rgb(255 255 255);
    --sys-error-container: rgb(255 218 214);
    --sys-on-error-container: rgb(65 0 2);
    --sys-background: rgb(247 251 234);
    --sys-on-background: rgb(25 29 19);
    --sys-surface: rgb(247 251 234);
    --sys-on-surface: rgb(25 29 19);
    --sys-surface-variant: rgb(222 230 205);
    --sys-on-surface-variant: rgb(66 73 55);
    --sys-outline: rgb(114 122 102);
    --sys-outline-variant: rgb(194 202 178);
    --sys-shadow: rgb(0 0 0);
    --sys-scrim: rgb(0 0 0);
    --sys-inverse-surface: rgb(46 50 39);
    --sys-inverse-on-surface: rgb(239 243 226);
    --sys-inverse-primary: rgb(151 217 69);
    --sys-primary-fixed: rgb(178 246 95);
    --sys-on-primary-fixed: rgb(16 32 0);
    --sys-primary-fixed-dim: rgb(151 217 69);
    --sys-on-primary-fixed-variant: rgb(47 79 0);
    --sys-secondary-fixed: rgb(204 238 161);
    --sys-on-secondary-fixed: rgb(16 32 0);
    --sys-secondary-fixed-dim: rgb(177 209 136);
    --sys-on-secondary-fixed-variant: rgb(52 78 20);
    --sys-tertiary-fixed: rgb(124 249 203);
    --sys-on-tertiary-fixed: rgb(0 33 22);
    --sys-tertiary-fixed-dim: rgb(93 220 176);
    --sys-on-tertiary-fixed-variant: rgb(0 81 60);
    --sys-surface-dim: rgb(216 220 204);
    --sys-surface-bright: rgb(247 251 234);
    --sys-surface-container-lowest: rgb(255 255 255);
    --sys-surface-container-low: rgb(242 245 229);
    --sys-surface-container: rgb(236 240 223);
    --sys-surface-container-high: rgb(230 234 218);
    --sys-surface-container-highest: rgb(224 228 212);
}